{% extends "base.html" %}
{% block title %}Khóa Học Arduino{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css_property/courses.css') }}">

{% endblock %}

{% block content %}
<div class="content-container">
    <div class="left-column-container">
        <!-- <h2>Hình ảnh minh họa</h2> -->
        <img src="/static/images/yolo.png" alt="Example Image">
    </div>
    <div class="right-column-container">
        <h4>Lập trình thông minh, Sáng tạo không giới hạn!</h4>
        <p>🔹Làm quen với lập trình và tư duy logic: Trẻ được học lập trình kéo thả trực quan trên nền tảng YOLO:Bit, giúp phát triển tư duy logic và khả năng giải quyết vấn đề.</p>
        <p>🔹Khám phá điện tử và công nghệ: Tìm hiểu cách hoạt động của các linh kiện điện tử như đèn LED, cảm biến, nút nhấn,… giúp trẻ hiểu về ứng dụng công nghệ trong thực tế.</p>
        <p>🔹Phát triển khả năng sáng tạo: Thông qua việc lập trình và thiết kế các dự án với mạch YOLO:Bit, trẻ em có cơ hội sáng tạo ra các sản phẩm công nghệ độc đáo.</p>
        <p>🔹Rèn luyện kỹ năng làm việc nhóm: Thực hiện các dự án theo nhóm giúp trẻ nâng cao khả năng giao tiếp, hợp tác và làm việc cùng bạn bè.</p>
        <p>🔹Tăng sự tự tin và đam mê công nghệ: Việc tự tay lập trình và hoàn thành các sản phẩm sáng tạo giúp trẻ tự tin hơn và tạo động lực để khám phá sâu hơn về STEM.</p>
    </div>
</div>
{% endblock %}