<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
        >
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="icon" href="/static/images/bit-buddy.png"/>
        <link
            rel="stylesheet"
            href="/static/css_property/base.css"
        >
        <script defer="" nomodule="" src="/static/chunks/polyfills-5cd94c89d3acac5f.js"></script>
        <script src="/static/chunks/webpack-df4cf1c8d23aa877.js" defer=""></script>
        <script src="/static/chunks/framework-fc97f3f1282ce3ed.js" defer=""></script>
        <script src="/static/chunks/main-f4ae3437c92c1efc.js" defer=""></script>
        <script src="/static/chunks/pages/_app-ba8c13e001b54cef.js" defer=""></script>
        <script src="/static/chunks/850-1c7bd2247cff5280.js" defer=""></script>
        <script src="/static/chunks/884-d3b28a1957d4e0e0.js" defer=""></script>
        <script src="/static/chunks/790-bfc755a75ebb517f.js" defer=""></script>
        <script src="/static/chunks/pages/index-044fc080efdf81b8.js" defer=""></script>
        <script src="/static/NVy0NfP4TEY1fmPEgyf9d/_buildManifest.js" defer=""></script>
        <script src="/static/NVy0NfP4TEY1fmPEgyf9d/_ssgManifest.js" defer=""></script>
        {% block styles %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar">
            <img src="/static/images/bit-buddy.png" class="logo">
            <u1 class="nav-links">
                <li class="active"><a href="#">Trang chủ</a></li>
                <li><a href="#">Về chúng tôi</a></li>
                <li><a href="#">Khóa học</a></li>
                <li><a href="#">Giảng viên</a></li>
                <li class="contact"><a href="#">Contact</a></li>
            </u1>
            <img scr="/static/images/anh_1.png" class="menu-icon">
        </nav>
        {% block content %}{% endblock %}
        <script>
            const menuBtn = document.querySelector('.menu-icon');
            const navLinks = document.querySelector('.nav-links');
    
            menuBtn.addEventListener('click', () => {
                navLinks.classList.toggle('mobile-menu');
            });
        </script>
    </body>
</html>