{% extends "base.html" %}
{% block title %}Khóa Học Game Maker{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css_property/courses.css') }}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href="//fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;family=Oswald:wght@200;300;400;500;600;700&amp;display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&amp;display=swap" rel="stylesheet">
<link href="//fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
<link href="/static/test/asset-builder/minimalist-blocks/content.css?v=1610682058" rel="stylesheet">
<link href="/static/test/bundle/plugins/bootstrap/bootstrap.min.css?v=1516239210" rel="stylesheet">
<link href="/static/test/bundle/plugins/bootstrap/bootstrap-datepicker.min.css?v=1587963756" rel="stylesheet">
<link href="/static/test/bundle/plugins/fontawesome/css/all.min.css?v=1587963446" rel="stylesheet">
<link href="/static/test/bundle/plugins/owlcarousel/assets/owl.carousel.min.css?v=1488314592" rel="stylesheet">
<link href="/static/test/bundle/plugins/owlcarousel/assets/owl.theme.default.min.css?v=1488314592" rel="stylesheet">
<link href="/static/test/bundle/plugins/mmenu/mmenu.css?v=1568827520" rel="stylesheet">
<link href="/static/test/bundle/plugins/fancybox/jquery.fancybox.min.css?v=1506992190" rel="stylesheet">
<link href="/static/test/bundle/plugins/aos/aos.css?v=1530988838" rel="stylesheet">
<link href="/static/test/bundle/plugins/swiper/swiper.min.css?v=1572220974" rel="stylesheet">
<link href="/static/test/bundle/css/style.css?v=1658191881" rel="stylesheet">
<link href="/static/test/bundle/css/customize.css?v=1658113537" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="left-column-container">
        <!-- <h2>Hình ảnh minh họa</h2> -->
        <img src="/static/images/game-maker.png" alt="Example Image">
    </div>
    <div class="right-column-container">
        <h4>Khơi nguồn sáng tạo, lập trình từ những bước đầu tiên!</h4>
        <p>✅Trẻ được tiếp cận với Game Maker – phần mềm lập trình game đơn giản, giúp tạo ra những trò chơi thú vị ngay từ đầu.</p>
        <p>✅Khi thiết kế game, trẻ sẽ học cách suy nghĩ có hệ thống, xử lý lỗi, tối ưu hóa cách điều khiển nhân vật và lối chơi.</p>
        <p>✅Trẻ có thể tự do tạo nhân vật, xây dựng thế giới game và phát triển cốt truyện theo ý tưởng của riêng mình.</p>
        <p>✅Quá trình lập trình và thử nghiệm game giúp trẻ học cách thử – sai, kiên trì để đạt được kết quả mong muốn.</p>
        <p>✅Thay vì chỉ chơi game, trẻ sẽ hiểu cách một trò chơi vận hành, từ đó có thể lập trình các sản phẩm game của riêng mình.</p>
        <p>✅Giúp trẻ tiếp cận lập trình một cách sinh động, tạo tiền đề cho các lĩnh vực như phát triển phần mềm, thiết kế game, đồ họa và trí tuệ nhân tạo sau này.</p>
    </div>
</div>
{% endblock %}