{% extends "base.html" %}
{% block title %}Bit Buddy{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="/static/style.css">
{% endblock %}

{% block content %}
<header>

    <div class="header-content">
        <div class="introduction">
            <h2>KHÓA HỌC</h2>
            <h3>LẬP TRÌNH CÔNG NGHỆ CHO TRẺ EM</h3>
            <h4>BIT BUDDY ACADEMY</h4>
        </div>
        <div class="line"></div>
        <a href="" class="ctn">Get Started</a>
    </div>
</header>

{% endblock %}
