{% extends "base.html" %}
{% block title %}Bit Buddy{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css_property/style.css') }}">

<!-- <link rel="stylesheet" href="/static/css_property/style.css"> -->
{% endblock %}

{% block content %}
<header id="header-introduction">
    <div class="header-content">
        <div class="introduction">
            <h2>KHÓA HỌC</h2>
            <h3>LẬP TRÌNH CÔNG NGHỆ CHO TRẺ EM</h3>
            <h4>BIT BUDDY ACADEMY</h4>
        </div>
        <div class="line"></div>
        <a href="https://www.facebook.com/BitBuddyy" class="ctn">ĐĂNG KÍ NGAY</a>
    </div>
</header>

<section id="about-home" class="about-home">
    <div class="container py-lg-4">
        <div class="about-info row pd10 align-items-center mb-4 mb-lg-5 pb-lg-3">

            <div class="col-12 col-md-6" data-aos="fade-left" data-aos-delay="100">
                <div class="ab-right">
                    <img src="/static/images/logo.png" alt="about-img">
                </div>
            </div>

            <div class="col-12 col-md-6 box-right" data-aos="fade-right" data-aos-delay="100">
                <div class="col-12 col-lg-12 ab-left">
                    <p class="title">Chào mừng đến với Bit Buddy Academy</p>
                    <div class="brief mb-3 mb-lg-0">Khơi nguồn sáng tạo nhí</div>
                    <p class="mb-0" style="font-size: 18px;">Bit Buddy là học viên giáo dục sáng tạo, chuyên cung cấp khóa học lập trình và công nghệ cho trẻ em từ 4-11 tuổi, giúp các em phát triển tư duy logic, sáng tạo và kỹ năng giải quyết vấn đề. Chúng tôi cam kết tạo ra môi trường học tập vui nhộn, dễ hiểu để trẻ em khám phá và yêu thích công nghệ.</p>
                </div>
                <!-- <div class="col-12 mt-4 about">
                    <div class="row justify-content-start">
                        <div class="col-lg-12 col-12">
                            <div class="row">
                                <div class="col-md mb-2">
                                    <div class="box-about d-flex align-items-center justify-content-start">
                                        <div>
                                            <img class="mr-3" src="upload/partner/1249group-15.png" alt="Tầm nhìn">
                                        </div>
                                        <a href="gioi-thieu-ve-chung-toi--a3.html">Tầm nhìn</a>
                                    </div>
                                </div>
                                <div class="col-md mb-2">
                                    <div class="box-about d-flex align-items-center justify-content-start">
                                        <div>
                                            <img class="mr-3" src="upload/partner/553group-181.png" alt="Sứ mệnh">
                                        </div>
                                        <a href="gioi-thieu-ve-chung-toi--a3.html">Sứ mệnh</a>
                                    </div>
                                </div>
                                <div class="col-md mb-2">
                                    <div class="box-about d-flex align-items-center justify-content-start">
                                        <div>
                                            <img class="mr-3" src="upload/partner/2217group-183.png" alt="Giá trị cốt lõi">
                                        </div>
                                        <a href="gioi-thieu-ve-chung-toi--a3.html">Giá trị cốt lõi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4 text-left text-uppercase text-underline">
                    <a href="">Xem thêm thông tin từ chúng tôi</a>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- Lesson courses -->
<section id="courses" class="service-home" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThwhdncBFFQFUg-4_HQzAmC-xFeNsA4r9fYA&s'); background-size: 100% 50%; background-position: top left; background-repeat: no-repeat;">
    <div class="container">

        <div class="header-box mb-3 mb-lg-4 pb-3 text-center aos-init aos-animate">
            <p class=" title" data-aos="fade-up" data-aos-delay="100">Các Khóa Học Của Chúng Tôi</p>
            <p class=" cont" data-aos="fade-up" data-aos-delay="100">Gồm Lập Trình và ROBOT</p>
        </div>
        <div class="row d-block">
            <div class="swiper-service-home swiper-container">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide item-wrap " data-aos="fade-up" data-aos-delay="0">
                        <div class="item">
                            <div class="img-box">
                                <a href="programming-courses" class="img-box d-flex">
                                    <img class="img-cover" src="/static/images/programming.png" alt="Khóa học lập trình" />
                                </a>
                            </div>

                            <div class="title text-center">
                                <div class="box-title">
                                    <a class="big-title" href="programming-courses">KHÓA HỌC LẬP TRÌNH</a>
                                </div>
                                <div class="brief mt-2">
                                </div>
                                <a class="more mt-2 d-block" href="programming-courses">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide item-wrap" data-aos="fade-up" data-aos-delay="100">
                        <div class="item">
                            <div class="img-box">
                                <a href="robot-courses" class="img-box d-flex">
                                    <img class="img-cover" src="/static/images/robot.png" alt="robot courses" />
                                </a>
                            </div>

                            <div class="title text-center">
                                <div class="box-title">
                                    <a class="big-title" href="robot-courses">Khóa học ROBOT</a>

                                </div>

                                <div class="brief mt-2">
                                </div>
                                <a class="more mt-2 d-block" href="robot-courses">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script src="/static/test/bundle/js/jquery.min.js?v=1603424986"></script>
<script src="/static/test/bundle/js/popper.min.js?v=1587962038"></script>
<script src="/static/test/bundle/plugins/bootstrap/bootstrap.min.js?v=1602592408"></script>
<script src="/static/test/bundle/js/lazysizes.min.js?v=1587786314"></script>
<script src="/static/test/bundle/js/bootstrap-datepicker.min.js?v=1587962084"></script>
<script src="/static/test/bundle/plugins/owlcarousel/owl.carousel.min.js?v=1488314592"></script>
<script src="/static/test/bundle/plugins/fancybox/jquery.fancybox.min.js?v=1506992190"></script>
<script src="/static/test/bundle/plugins/mmenu/mmenu.js?v=1568827520"></script>
<script src="/static/test/bundle/js/jquery.countTo.js?v=1491385090"></script>
<script src="/static/test/bundle/js/jquery.animateNumbers.js?v=1636512226"></script>
<script src="/static/test/bundle/plugins/aos/aos.js?v=1530988838"></script>
<script src="/static/test/bundle/plugins/swiper/swiper.min.js?v=1572220974"></script>
<script src="/static/test/bundle/js/app.js?v=1657612672"></script>
<script src="/static/test/bundle/js/custom.js?v=1570086124"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
    document.querySelector(".header-content").classList.add("show");
});
</script>

{% endblock %}