{% extends "base.html" %}
{% block title %}Chi tiết khóa học lập trình{% endblock %}

{% block content %}
<section class="navbar-banner" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThwhdncBFFQFUg-4_HQzAmC-xFeNsA4r9fYA&s')">
    <h1 class="header-title">Khóa học lập trình</h1>
    <!-- <div class="breadcrumbs-box">
        <div class="container">
            <ul class="breadcrumb">
                <li style="color: white;"><h4>Lập trình</h4></li>
                <li style="color: white;"><h4>ROBOT</h4></li>
            </ul>
        </div>
    </div> -->
</section> 

<section class="content pt-4 py-lg-5 news">
    <div class="container">
        <div class="list-news row">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4 pb-lg-2">
                <div class="item">
                    <div class="img-box mb-0 mb-md-0">
                        <div class="image_inner d-flex">
                            <img class="img-cover" src="/static/images/scratch.png" alt="Khóa học Scratch: Lập trình cho trẻ 7-8 tuổi">
                        </div>
                    </div>
                    <div class="item-body p-4">
                        <div class="d-flex  cat-date mb-2">
                            <span class="date mb-0 mr-4"><i class="far fa-calendar-alt"></i> Ngày 26/02/2025</span>
                            <a href="scratch" class="d-none"><i class="fas fa-bars"></i> Dự án</a>
                        </div>
                        <h5 class="item-title ">
                            <a class="" href="scratch">Khóa học Scratch: Lập trình cho trẻ 7-8 tuổi</a>
                        </h5>
                        <p class="content mb-2">Giá: 2,000,000đ</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4 pb-lg-2">
                <div class="item">
                    <div class="img-box mb-0 mb-md-0">
                        <div class="image_inner d-flex">
                            <img class="img-cover" src="/static/images/python.png" alt="Khóa học Python: Lập trình cơ bản cho trẻ từ 8-9 tuổi">
                        </div>
                    </div>
                    <div class="item-body p-4">
                        <div class="d-flex  cat-date mb-2">
                            <span class="date mb-0 mr-4"><i class="far fa-calendar-alt"></i> Coming soon</span>
                            <a href="python" class="d-none"><i class="fas fa-bars"></i> Dự án</a>
                        </div>
                        <h5 class="item-title ">
                            <a class="" href="python"> Khóa học Python: Lập trình cơ bản cho trẻ từ 8-9 tuổi </a>
                        </h5>
                        <p class="content mb-2"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4 pb-lg-2">
                <div class="item">
                    <div class="img-box mb-0 mb-md-0">
                        <div class="image_inner d-flex">
                            <img class="img-cover" src="/static/images/game-maker.png" alt="Khóa học Game Maker: Tạo trò chơi cho trẻ từ 9-10 tuổi">
                        </div>
                    </div>
                    <div class="item-body p-4">
                        <div class="d-flex  cat-date mb-2">
                            <span class="date mb-0 mr-4"><i class="far fa-calendar-alt"></i> Coming soon</span>
                            <a href="game-maker" class="d-none"><i class="fas fa-bars"></i> Dự án</a>
                        </div>
                        <h5 class="item-title ">
                            <a class="" href="game-maker">Khóa học Game Maker: Tạo trò chơi cho trẻ từ 9-10 tuổi</a>
                        </h5>
                        <p class="content mb-2"></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-md-4 pb-lg-2">
                <div class="item">
                    <div class="img-box mb-0 mb-md-0">
                        <div class="image_inner d-flex">
                            <img class="img-cover" src="https://hourofcode.vn/wp-content/uploads/2023/08/Appinventor-La%CC%A3%CC%82p-ti%CC%80nh-u%CC%9B%CC%81ng-du%CC%A3ng-Android.png" alt="Khóa học App Inventor: Phát triển ứng dụng cho trẻ cho từ 10-11 tuổi">
                        </div>
                    </div>
                    <div class="item-body p-4">
                        <div class="d-flex  cat-date mb-2">
                            <span class="date mb-0 mr-4"><i class="far fa-calendar-alt"></i> Coming soon</span>
                            <a href="app-inventor" class="d-none"><i class="fas fa-bars"></i> Dự án</a>
                        </div>
                        <h5 class="item-title ">
                            <a class="" href="app-inventor">App Inventor: Phát triển ứng dụng cho trẻ 10-11 tuổi</a>
                        </h5>
                        <p class="content mb-2"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}