{% extends "base.html" %}
{% block title %}Khóa Học Python{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css_property/courses.css') }}">
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="left-column-container">
        <!-- <h2>Hình ảnh minh họa</h2> -->
        <img src="/static/images/python.png" alt="Example Image">
    </div>
    <div class="right-column-container">
        <h3>Lập trình Python cơ bản, Khơi dậy đam mê công nghệ.</h3>
        <p>✅Giúp trẻ tiếp cận với Python – một trong những ngôn ngữ lập trình phổ biến nhất thế giới, dễ học, dễ ứng dụng.</p>
        <p>✅Trẻ học cách suy nghĩ có hệ thống, phân tích và tìm ra giải pháp tối ưu khi viết mã.</p>
        <p>✅Học lập trình không chỉ là viết code, mà còn là cách trẻ tự tạo ra trò chơi, ứng dụng, câu chuyện kỹ thuật số theo ý tưởng riêng.</p>
        <p>✅Việc lập trình đòi hỏi sự tỉ mỉ, kiên trì trong việc phát hiện và sửa lỗi, giúp trẻ rèn luyện sự nhẫn nại.</p>
        <p>✅Trẻ có thể lập trình những trò chơi đơn giản, ứng dụng mini hoặc các dự án thực tế, giúp hiểu cách công nghệ vận hành xung quanh.</p>
        <p>✅Trang bị kỹ năng công nghệ ngay từ nhỏ giúp trẻ có lợi thế vượt trội trong học tập và sự nghiệp sau này.</p>
    </div>
</div>
{% endblock %}