{% extends "base.html" %}
{% block title %}Khóa Học Raspberry{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='/css_property/courses.css') }}">

{% endblock %}

{% block content %}
<div class="content-container">
    <div class="left-column-container">
        <!-- <h2>Hình ảnh minh họa</h2> -->
        <img src="/static/images/orc.png" alt="Example Image">
    </div>
    <div class="right-column-container">
        <h4>Khóa học ORC K2 – Lập trình Robot, Chinh phục Công Nghệ! 🤖🚀</h4>
        <p>🔹Trẻ sẽ học cách lập trình điều khiển robot một cách trực quan, giúp phát triển tư duy logic và kỹ năng giải quyết vấn đề.</p>
        <p>🔹Trẻ được tiếp cận với các cảm biến, động cơ và thuật toán điều khiển, giúp hiểu cách robot hoạt động trong thực tế.</p>
        <p>🔹Thông qua việc lập trình và thiết kế robot, trẻ có thể sáng tạo các giải pháp công nghệ mới và độc đáo.</p>
        <p>🔹Học sinh sẽ cùng nhau lập trình và hoàn thành các thử thách robot, giúp nâng cao khả năng hợp tác và giao tiếp.</p>
        <p>🔹Việc hoàn thành các dự án robot giúp trẻ tự tin hơn, khơi dậy niềm yêu thích với khoa học và công nghệ.</p>

    </div>
</div>
{% endblock %}